<main class="container">
	<div align="center">

		<div class="userprofile">
			
			<img class='userimage' src=<%= @user.image %> height='200px'></img>

			<h2 class='username'> <%= @user.name %> </h2>


			

			<tr>
			<td>Email: </td>
			<td><%= @user.email %></td>
			</tr>
			<br/>
			<tr>
			<td>Location:</td>
			<td><%= @user.location %></td>
			</tr>
			<!-- A dropdown menu that has locations -->


	</div>
	<section class="postblock">
			<p> </p>
	</section>
</main>