// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.userimage{
float:left;
margin:0px;	
}

.userprofile {
  margin-top:2em;
  margin-left:10em;
  font-weight:bold;
  margin-bottom: 185px;
}

.userblock {
  background-color: #43C4FA;
  color: #4C4B63;
}

.userblock a {
  font-size: 30px;
  color: white;
}



.container {
  margin:relative;
}

.containerinfo {
  overflow: auto;
  word-wrap: break-word;
}


.userimg {
max-height:60px; 
max-width:60px;
border: 1px solid;
margin-top:25px;
}

.userblock {
  color: #4C4B63;
  display:inline;
}

.userblock a {
  color: white;
}

.contentinfo {
  margin-top: 20px;
}


.blockcontent {
  border:1px solid;
}


.commentform {
  margin-bottom: 30px;

}

.contentcolumn form{
  margin-top: 50px;
  margin-bottom:80px;
}

.commenth3 {
  border: 1px solid;
  width: 60%;
}

.block {
  padding-bottom: 10px;
}

.commentusername {
  padding-top:30px;
  color:white;
  text-decoration: none;
}

.commentusername a {
  color:white;
  text-decoration: none;
}

.comment {
  margin:20px;
}

.contentpost{
  padding-top:30px;
}

