// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #D8DDE1;
    min-width: 815px;
}

.signup {
	margin:auto;
	margin-top:10em;
	padding: 1em 1em 3em 1em;
	border: 1px solid;
	border-radius:5px;
	width:40%;
	background-color: #EEB783;
}

.notice {
	padding-top:1em;
	padding-bottom:2em;
	background: #43C4FA;
	margin:auto;
	margin-bottom:2em;
	width: 100%;
}

.signupform {
	position:relative;
	width:100px;
	margin-bottom:1em;
}

.signupformdrop {
	width:105%;
	margin-bottom:1em;
}

.signupcontent {
text-align: center;
margin: auto;

}

.signuph1 {
	padding-left: 1em;
}

main {
	position:relative;
	background-color: white;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 20px;
	text-align: left;
	width: 65%;
	min-width: 65%;

}

section {
	width: 75%;
	position:relative;
	background-color: white;
	margin: auto;
}

.submit {
	margin-left:3em;
	background-color: #D8DDE1;
  width: 200px;
  height: 50px;
}

.content {
	position:relative;
	margin:3em;
}

input {
	margin-bottom: 0.5em;
}


.signupform select {
	width: 130px;
}

.container {
	margin:relative;
}

.containerinfo {
	overflow: auto;
  word-wrap: break-word;
}

.content {
	margin:auto;
}

.contentsform input {
	width: 20em;
	height: 5em;
}

.userimg {
max-height:100px; 
max-width:60px;

border: 1px solid;
margin-top:25px;
}

.userblock {
	background-color: #43C4FA;
	color: #4C4B63;
}

.userblock a {
	font-size: 30px;
	color: white;

}


.contentinfo {
	margin-top: 20px;
}

.userblockborder {
	border: 1px solid;
	border-bottom: 0px;
	padding-bottom:10px;
}

.blockcontent {
	border:1px solid;

}