// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #D8DDE1;
}

.signup {
	margin:auto;
	margin-top:10em;
	padding: 1em 1em 3em 1em;
	border: 1px solid;
	border-radius:5px;
	width:40%;
	background-color: #EEB783;

}

.notice {
	background: pink;
	margin-bottom:5em;
	width: 8%;
}

.signupform {
	width:100px;
	margin-bottom:1em;
}

.signupformdrop {
	width:105%;
	margin-bottom:1em;
}

.signupcontent {
text-align: center;
margin: auto;

}

.signuph1 {
	padding-left: 1em;
}

main {
	background-color: white;
	margin: auto;
	padding-top: 120px;
	padding-bottom: 20px;
	text-align: left;
	width: 65%;
	height: 100%;
}

section {
	background-color: pink;
	width: 75%;
	margin: auto;
}